:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: black;
  --text-color: white;
  --text-color-warning: red;
  --text-color-positive: lightgreen;
  --light-text-color: #CCC;
  --input-height: 30px;
  --icon-color: #4dc6ff;

  --menu-bg-color: #009fe8;
  --menu-selected-bg-color: #0076ad;
  --menu-text-color: white;
  --menu-selected-text-color: white;
  --menu-border-color: #BBB;
  
  --footer-bg: #222;
  --footer-border: #009fe8;
  
  --table-heading-bg-color: #009fe8;
  --table-heading-text-color: white; 

  --obj-highlight-bg: #444;
  --obj-highlight-text: white;
  
  --mild-highlight: #222;

  --chrome-calendar-icon: invert(1);
}

html, body {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding-top: 30px;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  body {
    padding-top: 80px;
  }
}